@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a, p {
  font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(70, 70, 70);
  color: white;
}
.header-logo {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 2px 1px black;
}
.header-menu {
  list-style: none;
  display: flex;
  gap: 60px;
}
.header-menu li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  transition: .2s;
}
.header-menu li a:hover {
  border: 2px solid white;
}
main {
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div {
  text-align: center;
}
main div h1 {
  color: rgb(70, 70, 70);
  font-family: 'Roboto', sans-serif;
}
main div button {
  margin-top: 20px;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  background-color: rgb(70, 70, 70);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}
main div button:hover {
  background-color: rgb(20, 20, 20);
}
footer {
  text-align: center;
  padding: 20px 40px;
  background-color: rgb(70, 70, 70);
  color: white;
}
.githublink {
  color: white;
  text-decoration: none;
}
i {
  margin-right: 10px;
}
.dark-mode {
  background-color: rgb(43, 43, 43);
}
.dark-mode2 {
  background-color: rgb(20, 20, 20);
}
.dark-mode3 {
  color: white;
}